{% extends 'base.html' %}


{% block content %}

<div class="container">
    <div class ="p-4 m-4">
        <div class="col-lg-5 mx-auto border rounded pt-4">
            <form action="/signup" method ="POST">{% csrf_token %}
                <div class="alert alert-danger">
                    {{error}}
                </div>
                <div class="form-group">
                <label>first Name</label>
                <input required type="text" name = "first_Name" id="" placeholder="write first name"  class="form-control form-control-sm">
                 </div>
                 <div class="form-group">
                    <label>last Name</label>
                    <input type="text" name = "last_Name" id="" placeholder="write last name"  class="form-control form-control-sm">
                     </div>
                     <div class="form-group">
                        <label>phone</label>
                        <input type="text" name = "phone" id="" placeholder="write phone no here.."  class="form-control form-control-sm">
                         </div>
                     <div class="form-group">
                        <label>email</label>
                        <input required type="email" name = "email" id="" placeholder="write email here.."  class="form-control form-control-sm">
                         </div>
                         <div class="form-group">
                            <label>password</label>
                            <input required type="password" name = "password" id="" placeholder="***********"  class="form-control form-control-sm">
                             </div>  
                             <div class="form-group">
                            
                                <input type="submit" name = "submit" id="" value="create an account" class="btn btn-sm btn-info">
                                 </div> 
            </form>
        
       
    </div>
    </div>

</div>
{% endblock %}